@*using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace WebApp.Identity.Views.Home
{
    public class Success
    {
<h1>Sucess</h1>
    }
}*@

@{
    ViewData["Title"] = "Sucess";
}
<h1> Sucess</h1>